<div id="spree-admin-plugin-menu">
  <div class="menu-button">
    <%= fa_icon('bars 3x') %>
  </div>
  <div class="main-menu">
    <ul>
      <li><a href="#">Menu 1</a></li>
      <li><a href="#">Menu 2</a></li>
    </ul>
  </div>
</div>
